.card {
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  row-gap: 2em;
}

.description {
  font-size: small;
}

.grid {
  /* display: flex;
    flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;

  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}
